body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0056D2;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed;
            width: 100%; */
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.navbar a:hover {
    border-bottom: 2px solid white;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.navbar .cart {
    position: relative;
}

.navbar .cart i {
    font-size: 20px;
}

.navbar .cart .badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #FF0000;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    background-color: #F5F5F5;
}

.hero .text {
    max-width: 50%;
}

.hero .text h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 20px;
}

.hero .text p {
    font-size: 16px;
    margin: 0 0 20px;
}

.hero .text button {
    background-color: #0056D2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.hero .image {
    max-width: 50%;
}

.hero .image img {
    width: 100%;
    height: auto;
}

.content {
    padding: 20px;
}

.breadcrumbs {
    font-size: 14px;
    color: #666;
}

.breadcrumbs a {
    color: #007bff;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.results {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.results .filters {
    width: 20%;
}

.results .filters h3 {
    margin-top: 0;
}

.results .filters ul {
    list-style: none;
    padding: 0;
}

.results .filters ul li {
    margin: 10px 0;
}

.results .filters ul li input {
    margin-right: 10px;
    cursor: pointer
}

.results .products {
    width: 75%;
}

.results .products .results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.results .products .product {
    display: inline-block;
    width: 30%;
    margin: 0 1.5% 20px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.results .products .product:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(1.1);
}

.results .products .product:hover .product-name {
    text-decoration: line-through;
}

.results .products .product img {
    width: 100%;
    height: auto;
}

.results .products .product h4 {
    margin: 10px 0 5px;
}

.results .products .product p {
    margin: 0;
    color: #666;
}

.results .products .product .price {
    font-weight: bold;
    margin: 5px 0;
}

.results .products .product .wishlist {
    color: #007bff;
    cursor: pointer;
}

#sort-options:hover {
    cursor: pointer;
}